/** @format */

#Nav {
	background-color: rgb(207, 48, 48);
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	.container {
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	img {
		display: block;
		height: 75%;
	}

	.nav-links {
		a {
			color: #fff;
			text-transform: uppercase;
			display: inline-block;
			text-decoration: none;

			&:not(:first-of-type) {
				margin-left: 1rem;
			}
		}
	}
}

@media screen {
}
