@import '../../variables';

nav.open {
    width: 380px;
}

nav {
    width: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    background-color: $color1;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-content {
        position: relative;
        height: 60%;
        width: 380px;


        img {
            width: 65%;
            margin: 0 auto 3.5rem auto;
            display: block;
        }

        .link-group {
            width: 75%;
            margin: 0 auto;

            a {
                display: block;
                color: $color4;
                background-color: $color2;
                text-transform: capitalize;
                text-align: center;
                font-size: 1rem;
                width: 92%;
                margin: 0 auto;
                padding: 1rem 1rem;
                border-radius: .5rem;

                &:hover {
                    background-color: $color3;
                }

                &:not(:last-of-type) {
                    margin-bottom: 1.55rem;
                }
            }
        }
    }
}

.filler {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    pointer-events: none;
    cursor: url('./icons8-close-window-16.png'), pointer;
}

.filler.open {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.473);
}

@media only screen and(max-width: 390px) {
    nav.open {
        width: 295px;
    }

    nav {
        .nav-content {
            width: 295px;
        }
    }
}