.container {
    margin: 0 auto;
    width: 1320px;
    padding: 1rem;

    header {
        padding: 2rem;
        background-color: var(--color3);
        text-align: center;

        h1 {
            margin: 0;
            font-size: 6rem;
            color: var(--color4);
        }

        p {
            color: var(--color4);
            margin: 0;

            a {
                color: inherit;
            }
        }
    }
}


@media only screen and(max-width: 1400px) and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media only screen and(max-width: 1200px) and (min-width: 992px) {
    .container {
        width: 960px;

        header {
            h1 {
                font-size: 5rem;
            }
        }
    }
}

@media only screen and(max-width: 992px) and (min-width: 768px) {
    .container {
        width: 720px;

        header {
            h1 {
                font-size: 3.6rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .container {
        width: 540px;

        header {
            h1 {
                font-size: 3.1rem;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;

        header {
            h1 {
                font-size: 3rem;
            }
        }
    }
}