.wrapper {
    .menu.open {
        left: calc(380px - 1rem - 48px);
    }

    .menu {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 3;
        cursor: pointer;
        transition: transform 210ms ease;
        transition: all 320ms ease;

        &:hover {
            transform: scale(.81);
        }

        i {
            font-size: 3rem;
            color: var(--color4);
        }
    }
}

@media only screen and(max-width: 390px) {
    .wrapper {
        .menu.open {
            left: calc(295px - 1rem - 48px);
        }
    }
}