/** @format */

p {
	line-height: 2;
}

.nav-f-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0;
}

#waves {
	position: fixed;
	bottom: 0;
}

.svg {
	transform: none !important;
	margin-bottom: -100px;
}

#hpc {
	padding-right: 50px;
}

.character-symbol {
	transition: all 200ms ease;
}

.block {
	padding: 40px 0;
	width: 60%;
}

.nav-link {
	position: relative;

	&:hover {
		&::after {
			width: 75%;
		}
	}

	&.active {
		&::after {
			width: 75%;
		}
	}

	&::after {
		transition: all 200ms ease;
		margin-top: 30px;
		content: '';
		position: absolute;
		width: 0;
		height: 1px;
		background: #fff;
	}
}

#main-nav {
	> div {
		background: rgb(14, 109, 205);
	}

	* {
		color: #fff;
	}
}

body {
	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #1e87f0;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #81b2e4;
	}
}

@media (max-width: 1100px) {
	#hpt {
		font-size: 2.4rem;
	}

	#hpc {
		padding-right: 25px;
	}
}

@media (max-width: 960px) {
	.block {
		width: 85%;
	}

	#hpc {
		margin-bottom: 40px;
		padding-right: 0;
		margin-top: -100px;
	}

	.svg {
		max-width: 75%;
		margin-right: -300px;
	}
}

@media (max-width: 400px) {
	#hpt {
		font-size: 2.2rem;
	}
	.lwm {
		width: 100%;
		flex-grow: 1;
	}

	.svg {
		max-width: 100%;
	}
}

@media (max-width: 272px) {
	// galaxy fold
	#mgf {
		margin-bottom: 10px;
	}
}

@media (max-height: 653px) {
	#hpc {
		margin-top: 20px;
	}

	#waves {
		display: none;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
