/** @format */

p {
	line-height: 2;
}

.nav-f-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0;
}

.svg {
	transform: none !important;
	margin-bottom: -100px;
}

#hpc {
	padding-right: 50px;
}

.blob {
	position: absolute;
	z-index: -1;
	bottom: -400px;
	animation: scaleIn 1s ease 1 normal forwards;
}

.character-symbol {
	transition: all 200ms ease;
}

body {
	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #1e87f0;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #81b2e4;
	}
}

@media (max-width: 1220px) and (min-width: 1099px) {
	.blob {
		bottom: -400px;
		left: 100px;
	}
}

@media (max-width: 1100px) {
	#hpt {
		font-size: 2.4rem;
	}

	#hpc {
		padding-right: 25px;
	}

	.blob {
		bottom: -400px;
	}
}

@media (max-width: 960px) {
	#hpc {
		margin-bottom: 40px;
		padding-right: 0;
	}

	.blob {
		display: none;
	}
}

@media (max-width: 400px) {
	.lwm {
		width: 100%;
		flex-grow: 1;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
