@import '../../variables';

.home-page {
    .hero-section {
        background-color: $color1;
        height: 100vh;
        display: flex;

        .content,
        .img {
            width: 50%;
        }

        .content {
            padding: 100px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: text 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 normal forwards;

            .content-inner {
                width: 50%;
                margin: 0 auto;

                h1 {
                    font-size: 4rem;
                    margin: 0;
                    color: $color5;
                    line-height: 1;
                    text-transform: uppercase;
                }

                p {
                    margin: 1rem 0;
                    color: $color4;
                }

                .actions {
                    display: flex;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin-top: 1rem;
                        width: 13rem;
                        height: 3rem;
                        padding: 1rem;
                        background-color: $color1;
                        border: 1px solid $color4;
                        text-transform: uppercase;
                        color: $color6;
                        cursor: pointer;
                        text-decoration: none;
                        position: relative;

                        span {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            display: block;
                            transition: color 250ms ease-in;
                        }

                        &:nth-child(1) {
                            margin-right: 1rem;
                            background-color: $color7;
                            color: $color1;
                            border-color: $color7;
                            position: relative;
                            text-align: center;

                            &:hover {
                                span {
                                    color: $color7;
                                }

                                &::before {
                                    height: 100%;
                                }
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 0;
                                bottom: 0;
                                left: 0;
                                background-color: $color1;
                                transition: height 250ms ease-in;
                            }
                        }


                        &:nth-child(2) {
                            &:hover {
                                color: $color1;

                                &::before {
                                    height: 100%;
                                }
                            }

                            &::before {
                                content: '';
                                bottom: 0;
                                left: 0;
                                position: absolute;
                                width: 100%;
                                height: 0;
                                background-color: $color7;
                                transition: height 250ms ease-in;
                            }
                        }
                    }
                }
            }
        }

        .img {
            background-image: url('https://static.isakgranqvist.com/img/landing-bg.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .img-m {
            display: none;

            img {
                display: block;
                max-width: 55%;
                margin: 3rem auto 0 auto;
            }
        }
    }
}

@media only screen and(max-width: 1730px) {
    .home-page {
        .hero-section {
            .img {
                width: 35%;
            }

            .content {
                width: 65%;
            }
        }
    }
}


@media only screen and(max-width: 1329px) {
    .home-page {
        .hero-section {
            flex-direction: column;

            .content,
            .img {
                width: 100%;
                height: 50vh;
            }

            .content {
                .content-inner {
                    width: 75%;
                }
            }
        }
    }
}

@media only screen and(max-width: 575px) {
    .home-page {
        .hero-section {
            align-items: center;
            justify-content: center;

            .img {
                display: none;
            }

            .img-m {
                display: block;
            }

            .content {

                .content-inner {
                    width: 85%;

                    h1 {
                        font-size: 2.9rem;
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 500px) {
    .home-page {
        .hero-section {
            .content {
                .content-inner {
                    padding: 1rem 2rem;
                    width: 100%;

                    h1 {
                        font-size: 3rem;
                    }

                    .actions {
                        justify-content: space-evenly;

                        a {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}


@keyframes text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}