@import '../../variables';

.projects-page {
    .projects {
        padding: 1rem 0 5rem 0;
        width: 100%;
    }
}

@media only screen and(max-width: 768px) {
    .projects-page {
        .projects {
            .project {
                padding: 2.6rem 0;

                h2 {
                    font-size: 2rem;
                }

                .images {
                    .picker {
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
}