@import '../../variables';


.projects {
    padding: 1rem 0 5rem 0;
    width: 100%;

    .project {
        width: 100%;
        padding: 4rem 0;


        &:not(:last-of-type) {
            border-bottom: 1px solid rgba($color4, .18);
        }

        h2 {
            color: $color5;
            font-size: 3rem;
            margin: 0 0 1rem 0;
        }

        p {
            color: $color7;
        }

        .images {
            width: 100%;

            .in-focus {
                max-width: 100%;
            }

            .picker {
                display: flex;
                flex-flow: row wrap;
                gap: .5rem;
                margin-top: 1rem;

                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    cursor: pointer;

                    &.focused {
                        opacity: .1;
                    }
                }
            }
        }

        .actions {
            margin-top: 1rem;
            display: flex;
            flex-flow: row wrap;

            a {
                color: $color4;

                &:not(:last-of-type) {
                    margin-right: 1.4rem;
                }
            }
        }
    }
}