@import '../../variables';

.contact-page {
    form {
        padding: 2rem 0;
        margin: 2rem auto;


        fieldset {
            border: none;
            padding: 0;
            margin: 3rem 0;

            &:first-of-type {
                margin-top: 0;
            }

            legend {
                color: $color7;
                margin-bottom: 1rem;
            }

            input,
            textarea {
                background-color: $color3;
                border: 1px solid rgba($color4, .2);
                border-radius: .5rem;
                outline: none;
                color: $color7;
                padding: .6rem;
                transition: border-color 215ms ease-in;

                &:focus {
                    color: $color7;
                    border-color: $color7;
                }

            }

            input {
                height: 40px;
                width: 100%;
            }

            textarea {
                width: 100%;
                height: 120px;
                resize: none;
            }
        }

        .form-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .alert {
                opacity: 0;
                transition: all 1s ease;
                transform: translateY(200px);
                position: absolute;
                left: 0;

                p {
                    text-transform: capitalize;

                }

                &.error {
                    opacity: 1;
                    color: rgb(236, 143, 143);
                    transform: translateY(0);
                }

                &.success {
                    opacity: 1;
                    color: rgb(43, 105, 43);
                    transform: translateY(0);
                }
            }

            button {
                margin: 0 0 0 auto;
                padding: .6rem 1.2rem;
                border: 1px solid $color4;
                border-radius: .5rem;
                background-color: $color7;
                color: $color1;
                text-transform: uppercase;
                cursor: pointer;
                transition: transform 215ms;

                &:hover, &:focus {
                    transform: scale(.92);
                }
            }
        }
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 50px 0;

        p {
            margin: 1rem;
            color: $color6;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                margin-right: 1rem;
            }
        }
    }
}

@media only screen and(min-width: 1000px) {
    .contact-page {
        form {
            width: 50%;
        }
    }
}

@media only screen and(max-width: 768px) {
    .contact-page {

        form {
            .form-footer {
                button {
                    width: 100%;
                }
            }
        }

        footer {
            p {
                flex-direction: column;

                i {
                    margin-right: 0;
                    margin-bottom: .66rem;
                }
            }
        }
    }
}