/** @format */

#Projects {
	padding: 110px 0;

	header {
		margin-bottom: 110px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		h3 {
			font-size: 4rem;
			font-weight: 900;
			margin-bottom: 0.66rem;
			color: rgb(56, 56, 56);
		}

		p {
			max-width: 60ch;
			font-size: 1.3rem;
			letter-spacing: 1.2px;

			a {
				text-decoration: none;
				color: #cf3030;
			}
		}
	}

	.projects-grid {
		display: flex;
		flex-wrap: wrap;

		.project-container {
			width: 50%;
		}
	}
}

@media (max-width: 1400px) {
	#Projects {
		.projects-grid {
			flex-direction: column;
			margin: 0 auto;
			.project-container {
				margin: 0 auto;
				width: 75%;
			}
		}
	}
}

@media (max-width: 620px) {
	#Projects {
		header {
			h3 {
				font-size: 3rem;
			}

			p {
				font-size: 1.125rem;
			}
		}
		.projects-grid {
			.project-container {
				width: 100%;
			}
		}
	}
}
